.page_zero-wapper{
    width: 375px;
    height: 638px;
    background: #F7F8F9;
    &_header {
        display: flex;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 1px 7px rgba(58, 72, 80, 0.07);
        height: 66px;
        align-items: center;
        padding: 0 25px;
    }
    &_main{
        background: linear-gradient(180deg, #E8F0F2 0%, rgba(232, 240, 242, 0) 100%);
        &-img{
            margin-top: 67px;
            margin-left: 26px;
        }
        &-title{
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            text-align: center;
            color: #2196F3;
            margin: 0;
            position: relative;
            top: 44px;
        }
        &-text{
            font-weight: 700;
            font-size: 15px;
            line-height: 174%;
            text-align: center;
            color: #3A4850;
            width: 272px;
            position: relative;
            top: 66px;
            left: 50px;
        }
        &-btn {
            position: relative;
            left: 99px;
            top: 93px;
            border: none;
            background: linear-gradient(270deg, #45C7FA 0%, #2196F3 100%);
            box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.03);
            border-radius: 24px;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #FFFFFF;
            width: 177px;
            height: 48px;
        }
    }
}