.page_zero-wapper
    header.page_zero-wapper_header
        img(src="./Page 0/Otimax Dev logo 3.png").page_zero-wapper_header-logo
        img(src="./Page 0/arrow_right.svg").page_zero-wapper_header-arrow
    .page_zero-wapper_main
        img(src="./Page 0/zs.png").page_zero-wapper_main-img
        .page_zero-wapper_main-title Let’s find your perfect pair!
        .page_zero-wapper_main-text Take the quiz to easily discover your perfect fit from thousands of styles
        button.page_zero-wapper_main-btn Start Now