.page_two-man-wapper
    header.page_two-man-wapper_header
        img(src="./Page_2_men/left_arrow.svg").page_two-man-wapper_header-arrow.prev_page
        .page_two-man-wapper_header-count 2/10
        img(src="./Page_2_men/stop.svg").page_two-man-wapper_header-stop.stop_poll
    .page_two-man-wapper_line
        .page_two-man-wapper_line-fuller
    .page_two-man-wapper_main 
        .page_two-man-wapper_main-title What type of glasses are you looking for?
        button.page_two-man-wapper_main-btn-women.next_page
            img(src="./Page_2_men/men_shadow_glasses.svg").page_two-man-wapper_main-btn-women-img
            .page_two-man-wapper_main-btn-women-text Eyeglasses
        button.page_two-man-wapper_main-btn-men.next_page
            img(src="./Page_2_men/men_shadow_sunglasses.svg").page_two-man-wapper_main-btn-men-img
            .page_two-man-wapper_main-btn-men-text Sunglasses
        .page_two-man-wapper_main-skip.next_page I want to see both