.page_one-wapper
    header.page_one-wapper_header
        img(src="./Page_1/left_arrow.svg").page_one-wapper_header-arrow.prev_page
        .page_one-wapper_header-count 1/10
        img(src="./Page_1/stop.svg").page_one-wapper_header-stop.stop_poll
    .page_one-wapper_line
        .page_one-wapper_line-fuller
    .page_one-wapper_main 
        .page_one-wapper_main-title You are looking for
        button.page_one-wapper_main-btn-women.next_page
            img(src="./Page_1/women_shadow.svg").page_one-wapper_main-btn-women-img
            .page_one-wapper_main-btn-women-text Women's Styles
        button.page_one-wapper_main-btn-men.next_page
            img(src="./Page_1/men_shadow.svg").page_one-wapper_main-btn-men-img
            .page_one-wapper_main-btn-men-text Men's Styles
        .page_one-wapper_main-skip.next_page I'd like to see both